h1{color:pink; font-family:Elephant; background-color:rgb(grey);}
h2{color:rgb(pink);}
	p{background-color:grey; color:pink; font-family: elephant;}
	table{background-color:black; color:white;}
ul{color: white;background-color:black;}
ol{color:grey;background-color:pink;}	
form{background-color:black; color:red; font-family:Arial;}